{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
<div class="flex">
    <div class="w-1/4">
        {% include "dashboard/navbar.html.twig" %}
    </div>
    <main class="flex flex-1 p-3 flex-col">
        <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1">
            <a href="{{ path('app_note_sorted', {'sort': 'name'}) }}"
              class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative"
            >
              Nom
        </a>
      
          <a href="{{ path('app_note_sorted', {'sort': 'date'}) }}"
              class="inline-block rounded-md bg-white px-4 py-2 text-sm text-blue-500 shadow-sm focus:relative"
            >
              Date
      </a>
          </div>
        <div class="flex w-100 flex-wrap gap-4">
            
        {% for note in notes %}
        <div class="max-w-md py-4 bg-white shadow-md rounded-md overflow-hidden border border-gray-300"> <!-- Ajout de la classe "border" et "border-gray-300" pour une bordure grise -->
          <div class="px-6 py-4">
              <h2 class="text-xl font-semibold text-gray-800 mb-2">{{ note.name }}</h2>
          </div>
          <a href="/note/{{ note.id }}" class="mx-4 justify-center flex items-center gap-2 px-4 py-2 text-white bg-indigo-600 rounded-lg duration-150 hover:bg-indigo-500 active:bg-indigo-700">
              Voir la note
          </a>
      </div>
      
        {% endfor %}   
        </div>  
    </main>
</div>
{% endblock %}
